<!--header start -->
<include file="Layout/head" />
<!--header end -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/goodsadd.css">
	
<body data-spm="10677094" data-spm-anchor-id="a1z38n.10677094.0.10677094.444511d9JnTe2K">

<div id="page">
<header class="clearfix"><span class="fl">一口价宝贝发布</span></header>
<div id="main">
<div id="catPath">类目：男装&gt;&gt;衬衫<span>切换类目</span>
</div>
<h1>1. 宝贝基本信息</h1>
<div class="struct rootStruct"  id="itemBasic">
<table class="showbar"><tbody>
<tr>
	<td class="bar"><em style="display: inline;">*</em>宝贝类型</td>
	<td>
		<div class="checkbox-wrap" id="stuffStatus"><label>
			<input type="radio" name="radio0" checked="checked">二手</label><label>
			<input type="radio" name="radio0" >全新</label>
		</div>
	</td>
</tr>
<tr>
	<td class="bar"><em style="display: inline;">*<em></em></em><label for="title" style="display: inline;">宝贝标题</label>
	</td>
	<td>
		<div class="texbox title-box" id="title">     
			<div class="inputbox">         
			<input id="title" type="text" aria-required="true"><span class="input-count"><strong>0</strong>/60</span>
			</div>
		</div>
	</td>
</tr>
<tr>
	<td class="bar"><em style="display: none;">*<em></em></em><label for="props" style="display: inline;">宝贝属性</label>
	</td>
	<td>
	<div class="block info" style="margin: 0px 0px 3px;">错误填写宝贝属性，可能会引起宝贝下架或搜索流量减少，影响您的正常销售，请认真准确填写！
	</div>
	<div class="props clearfix" id="props">
	<table class="props-table"><tbody>
		<tr>
			<td><em style="display: none;">*<em></em></em><label>货号</label>
			</td>
			<td>
				<div class="texbox">     
				<div class="inputbox"><input id="prop_13021751" type="text"></div>
				</div>
			</td>
		</tr>
	</tbody></table>
	<table class="props-table"><tbody>
		<tr>
			<td><em style="display: inline;">*</em><label>适用场景</label></td>
			<td>
				<div class="inputbox"><input class="combobox-inputbox" type="text" ></div>
			</td>
		</tr>
	</tbody></table>
	</div>
</tr>
<tr>
	<td class="bar"><em style="display: inline;">*<em></em></em><label for="multiMedia" style="display: inline;">电脑端宝贝图片</label>
	</td>
	<td>
	<div class="block info" style="margin: 0px 0px 3px;">宝贝主图大小不能超过3MB；700*700 以上图片上传后宝贝详情页自动提供放大镜功能 </div>
	<div class="multmedia-wrap clearfix" id="multiMedia" data-spm-anchor-id="a1z38n.10677094.1998855314.i7.444511d9JnTe2K">
	<div class="multimage-wrap">
	<ul class="image-list">
		<li data-media="image">
			<div class="preview"><a title="上传图片" tabindex="0" class="upload-tip" style="display: inline;"><img src="__PUBLIC__/images/add.png" alt=""></a>
			</div><span class="info"><em>*</em>宝贝主图</span>
		</li>
		<li data-media="image">
			<div class="preview"><a title="上传图片" tabindex="0" class="upload-tip" style="display: inline;"><img src="__PUBLIC__/images/add.png" alt=""></a>
			</div>
		</li>
		<li data-media="image">
			<div class="preview"><a title="上传图片" tabindex="0" class="upload-tip" style="display: inline;"><img src="__PUBLIC__/images/add.png" alt=""></a>
			</div>
		</li><li data-media="image">
			<div class="preview"><a title="上传图片" tabindex="0" class="upload-tip" style="display: inline;"><img src="__PUBLIC__/images/add.png" alt=""></a>
			</div>
		</li>
		<li data-media="image">
			<div class="preview"><a title="上传图片" tabindex="0" class="upload-tip" style="display: inline;"><img src="__PUBLIC__/images/add.png" alt=""></a>
			</div><span class="info">宝贝白底图</span>
		</li>
	</ul>
	</div>
	</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<!--footer start -->
<include file="Layout/foot" />
<!--footer end -->
</body>