  <!DOCTYPE html>
<html>
<head>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0dcf521975fe845b115cc223da5ad9e6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/cheer100.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/lrtk.css"/>
    <script type="text/javascript" src="js/jqueryyy.js"></script>
    <script type="text/javascript" src="js/jquery.lazyload.min.js"></script>
  
 <script>
	$(function(){
		$(window).scroll(function(){
			if($(window).scrollTop()>100){  //距顶部多少像素时，出现返回顶部按钮
				$("#side-bar .gotop").fadeIn();	
			}
			else{
				$("#side-bar .gotop").hide();
			}
		});
		$("#side-bar .gotop").click(function(){
			$('html,body').animate({'scrollTop':0},500); //返回顶部动画 数值越小时间越短
		});
	});
</script>
<script src="js/iplookup.js" type="text/ecmascript"></script>
<script type="text/javascript">
function getIpPlace() {
var province = remote_ip_info["province"];
var city = remote_ip_info["city"];

if(province=="北京" || province=="天津" || province=="上海" || province=="重庆"){
document.write(province);
}else{
document.write(city);
}
 
} 
</script>

<title>智能家居价格表_智能家居报价_智能家居控制系统品牌-舒家365</title>
<meta name="keywords" content="智能家居报价,智能家居品牌,智能家居价格表"/>
<meta name="description" content="舒家365专业提供智能家居价格表，智能家居报价，智能家居控制系统品牌安装，销售、设计、安装、维护一站式服务，营造舒适健康生活！"/>
<link rel="stylesheet" type="text/css" href="css/product_list.css"/>
    
</head>
<body>

<div class="page-top">
    <div class="w1190">
        <table class="topMenu">
            <tbody>
       
            <tr>
            <td id="JS_head_login" class="login">
           <span>您好，欢迎来舒家365！</span>
          
            <script src="js/loginjs.js"></script>
                </td>
                <td><em class="line"></em></td>
                <td><a href="/zhaoshangjiameng/" target="_blank" title="招商加盟" rel="nofollow">招商加盟</a></td>
                <td><em class="line"></em></td>
                <td style="width:200px;position:relative;z-index:100;">
                    服务热线：<span class="hotLine">17730316334</span></td>
              
            </tr></tbody>

</table>
    <ul class="fleft">
       <li id="citylist">
       <em></em>
       <span><script type='text/javascript'> getIpPlace();</script></span>
       <a rel="nofollow" href="/csqh/" target="_blank" rel="nofollow">[切换城市]</a>
       </li>
    </ul>
       
    </div>
</div>
<div class="clear"></div>
<div class="page-header">
    <div class="w1190 clearfix">
        <div class="logo left"><a href="/" title="舒家365"><img id="JS_Header_Logo_img" src="picture/logo.png" alt="舒家365"  height="72" width="350"></a></div>
       
        <form class="left search_top ifl" action="/e/sch/index.php" method="get" name="schform" id="schform">
           <div class="search_inner">
                <button id="searchButton" type="submit" class="submit">搜 索</button >
                <input name="keyboard" id="searchWords" value="格力中央空调" onBlur="if (value=='') {value='格力中央空调'}" onFocus="if(value=='格力中央空调') {value=''}" class="acInput" type="text">
            </div>
            <p>热门搜索：<a href="/zhongyangkongdiao/33-1-0-0-0.html" target="_blank" title="大金中央空调">大金中央空调</a>
                <a href="/zhongyangkongdiao/33-5-0-0-0.html" target="_blank" title="格力中央空调">格力中央空调</a>
                <a href="/dinuan/" target="_blank" title="地暖">地暖</a>
                <a href="/zhongyangxinfeng/" target="_blank" title="新风系统">新风系统</a>
                <a href="/diyuanrebeng/" target="_blank" title="地源热泵">地源热泵</a>
            </p>
        </form>
       

        <div class="btMap Right clearfix">
           
			 <div class="cart Right mymll">
				<img src="picture/bear.gif" alt="线上报价">
            </div>
			 <div class="cart2 Right mymll">
                <a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank" title="舒家365欢迎您" rel="nofollow"><img src="picture/tuangou.jpg" alt="舒家365欢迎您"></a>
            </div>
        </div>

    </div>
</div>

 <div class="daohang">
<div class="navigation w1190 cfx">
    <div class="nav_cate">
        <h3>舒适系统分类</h3>
        <div class="sub_cate dn">
           <ul class="lv1_ul">
                    <li class="lv1_li menu1">
                        <a class="lv1_a" href="/zhongyangkongdiao/" title="中央空调" target="_blank">中央空调</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>品牌分类</dt>
                                            <dd>
                                                    <a href="/zhongyangkongdiao/33-1-0-0-0.html" title="大金" target="_blank">大金</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangkongdiao/33-2-0-0-0.html" title="东芝" target="_blank">东芝</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangkongdiao/33-5-0-0-0.html" title="格力" target="_blank">格力</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangkongdiao/33-6-0-0-0.html" title="美的" target="_blank">美的</a>
													<span>|</span>
                                                    <a href="/zhongyangkongdiao/33-4-0-0-0.html" title="日立" target="_blank">日立</a>
													<span>|</span>
                                                    <a href="/zhongyangkongdiao/33-3-0-0-0.html" title="三菱电机" target="_blank">三菱电机</a>
                                                    <span>|</span>
<a href="/zhongyangkongdiao/33-8-0-0-0.html" title="特灵" target="_blank">特灵</a>
<span>|</span>
<a href="/zhongyangkongdiao/33-9-0-0-0.html" title="约克" target="_blank">约克</a>
<span>|</span>
<a href="/zhongyangkongdiao/33-10-0-0-0.html" title="LG" target="_blank">LG</a>
<span>|</span>
<a href="/zhongyangkongdiao/33-12-0-0-0.html" title="三菱重工" target="_blank">三菱重工</a>
<span>|</span>
<a href="/zhongyangkongdiao/33-13-0-0-0.html" title="海尔" target="_blank">海尔</a>
												
                                                  
                                                    
                                            </dd>
                                        </dl>



                                                <dl class="tjpt">
                                                    <dt>适用房型</dt>
                                                    <dd>
                                                            <a href="/zhongyangkongdiao/33-0-1-0-0.html" title="美的" target="_blank">客餐厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangkongdiao/33-0-3-0-0.html" title="两房两厅" target="_blank">两房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangkongdiao/33-0-4-0-0.html" title="三房两厅" target="_blank">三房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangkongdiao/33-0-5-0-0.html" title="四房两厅" target="_blank">四房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangkongdiao/33-0-6-0-0.html" title="复式" target="_blank">复式</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangkongdiao/33-0-7-0-0.html" title="其他" target="_blank">其他</a>
                                                            
                                                    </dd>
                                                </dl>

                                            <dl class="tjpp">
                                                <dd>
                                                    <a href="/zhongyangkongdiao/33-1-0-0-0.html" target="_blank"><img src="picture/list-dj.jpg" alt="大金"></a>
						    <a href="/zhongyangkongdiao/33-2-0-0-0.html" target="_blank"><img src="picture/list-dz.jpg" alt="东芝"></a>
						    <a href="/zhongyangkongdiao/33-5-0-0-0.html" target="_blank"><img src="picture/list-gl.jpg" alt="格力"></a>
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu2">
                        <a class="lv1_a" href="/dinuan/" title="采暖系统" target="_blank">采暖系统</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>系统分类</dt>
                                            <dd>
                                                    <a href="/dinuan/27-4-0-0-0.html" title="壁挂炉" target="_blank">壁挂炉</a>
                                                    <span>|</span>
                                                    <a href="/dinuan/27-3-0-0-0.html" title="暖气片" target="_blank">暖气片</a>
                                                    <span>|</span>
                                                    <a href="/dinuan/27-1-0-0-0.html" title="水地暖" target="_blank">水地暖</a>
                                                    <span>|</span>
                                                    <a href="/dinuan/27-2-0-0-0.html" title="电地暖" target="_blank">电地暖</a>
                                                    
                                            </dd>
                                        </dl>



                                                <dl class="tjpt">
                                                    <dt>品牌分类</dt>
                                                    <dd>
                                                            <a href="/dinuan/27-0-1-0-0.html" title="威能" target="_blank">威能</a>
                                                            <span>|</span>
															<a href="/dinuan/27-0-2-0-0.html" title="雅克菲" target="_blank">雅克菲</a>
                                                            <span>|</span>
                                                            <a href="/dinuan/27-0-3-0-0.html" title="沃乐夫" target="_blank">沃乐夫</a>
                                                            <span>|</span>
                                                             <a href="/dinuan/27-0-4-0-0.html" title="博世" target="_blank">博世</a>
                                                            <span>|</span>
                                                            <a href="/dinuan/27-0-5-0-0.html" title="菲斯曼" target="_blank">菲斯曼</a>
                                                            <span>|</span>
                                                            <a href="/dinuan/27-0-7-0-0.html" title="林内" target="_blank">林内</a>
                                                
                                                            
                                                    </dd>
                                                </dl>
                                            <dl class="tjpp">
                     
                                                <dd>
                                                        <a href="/dinuan/27-0-1-0-0.html" target="_blank"><img src="picture/list-wn.jpg" alt="威能"></a>
                                                        <a href="/dinuan/27-0-2-0-0.html" target="_blank"><img src="picture/list-wlf.jpg" alt="雅克菲"></a>
                                                        <a href="/dinuan/27-0-3-0-0.html" target="_blank"><img src="picture/list-ykf.jpg" alt="沃乐夫"></a>
                                                         
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu3">
                        <a class="lv1_a" href="/diyuanrebeng/" title="地源热泵" target="_blank">地源热泵</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
								                <dl>
                                                    <dt>品牌分类</dt>
                                                    <dd>
                                                            <a href="/diyuanrebeng/teling/" title="特灵地源热泵" target="_blank">特灵</a>
                                                            <span>|</span> 
			            <a href="/diyuanrebeng/meiyi/" title="美意地源热泵" target="_blank">美意</a>
                                                            <span>|</span>
			            <a href="/diyuanrebeng/meiyi/" title="丹特卫顿地源热泵" target="_blank">丹特卫顿</a>
                                                            <span>|</span>
			            <a href="/diyuanrebeng/fengye/" title="枫叶能源地源热泵" target="_blank">枫叶能源</a>
                                                  
                                                    </dd>
                                                </dl>

                                                <dl class="tjpt">

                                                    <dt>适用房型</dt>
                                                    <dd>
                                                       <a href="/diyuanrebeng/" title="别墅" target="_blank">别墅</a>
                                                            
                                                    </dd>
                                                </dl>
                                            <dl class="tjpp">
                                               
                                                <dd>
                                                  <a href="/diyuanrebeng/teling/" target="_blank"><img src="picture/list-tl.jpg" alt="特灵地源热泵"></a>
                                                  <a href="/diyuanrebeng/meiyi/" target="_blank"><img src="picture/list-my.jpg" alt="美意地源热泵"></a>
                                                  <a href="/diyuanrebeng/danteweidun/" target="_blank"><img src="picture/list-dtwd.jpg" alt="丹特卫顿地源热泵"></a>
                                                      
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu4">
                        <a class="lv1_a" href="/zhongyangxinfeng/" title="中央新风系统" target="_blank">新风系统</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>品牌分类</dt>
                                            <dd>
                                                    <a href="/zhongyangxinfeng/28-1-0-0-0.html" title="大金" target="_blank">大金</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-2-0-0-0.html" title="博乐" target="_blank">博乐</a>
                                                    <span>|</span>
			    <a href="/zhongyangxinfeng/28-3-0-0-0.html" title="松下" target="_blank">松下</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-4-0-0-0.html" title="曼瑞德" target="_blank">曼瑞德</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-8-0-0-0.html" title="兰舍" target="_blank">兰舍</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-5-0-0-0.html" title="爱优特" target="_blank">爱优特</a>
			    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-9-0-0-0.html" title="百朗" target="_blank">百朗</a>
                                                    <span>|</span>
                                                    <a href="/zhongyangxinfeng/28-7-0-0-0.html" title="霍尼韦尔" target="_blank">霍尼韦尔</a>
                                                    <span>|</span>
<a href="/zhongyangxinfeng/28-11-0-0-0.html" title="爱品生" target="_blank">爱品生</a>
<span>|</span>
<a href="/zhongyangxinfeng/28-10-0-0-0.html" title="东芝" target="_blank">东芝</a>
                                            </dd>
                                        </dl>
                                                <dl class="tjpt">
                                                    <dt>适用房型</dt>
                                                    <dd>
                                                            <a href="/zhongyangxinfeng/28-0-1-0-0.html" title="客餐厅" target="_blank">客餐厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-2-0-0.html" title="两房一厅" target="_blank">两房一厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-3-0-0.html" title="两房两厅" target="_blank">两房两厅</a>


                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-4-0-0.html" title="三房两厅" target="_blank">三房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-5-0-0.html" title="四房两厅" target="_blank">四房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-6-0-0.html" title="复式" target="_blank">复式</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangxinfeng/28-0-7-0-0.html" title="别墅" target="_blank">别墅</a>
                                                            
                                                    </dd>
                                                </dl>
                                            <dl class="tjpp">
                                      
                                                <dd>
                                                     <a href="/zhongyangxinfeng/28-1-0-0-0.html" target="_blank"><img src="picture/list-dj.jpg" alt="大金"></a>
                                                     <a href="/zhongyangxinfeng/28-3-0-0-0.html" target="_blank"><img src="picture/list-sx.jpg" alt="松下"></a>
                                                     <a href="/zhongyangxinfeng/28-2-0-0-0.html" target="_blank"><img src="picture/list-bl.jpg" alt="博乐"></a>
                                                   
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu5">
                        <a class="lv1_a" href="/chushichuchen/" title="除湿除尘" target="_blank">除湿除尘</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>系统分类</dt>
                                            <dd>
                                                    <a href="/chushichuchen/30-1-0-0-0.html" title="中央除湿" target="_blank">中央除湿</a>
                                                    <span>|</span>
                                                    <a href="/chushichuchen/30-2-0-0-0.html" title="中央除尘" target="_blank">中央除尘</a>               
                                            </dd>
                                        </dl>
										<dl class="tjpt">
                                            <dt>品牌分类</dt>
                                            <dd>
                                                    <a href="/chushichuchen/30-0-1-0-0.html" title="霍尼韦尔" target="_blank">霍尼韦尔</a>
                                                    <span>|</span>
                                                    <a href="/chushichuchen/30-0-2-0-0.html" title="爱迪士" target="_blank">爱迪士</a> 
													<span>|</span>
                                                    <a href="/chushichuchen/30-0-3-0-0.html" title="美达" target="_blank">美达</a>                             
                                            </dd>
                                        </dl>
                                        <dl class="tjpp">
                                                
                                                <dd>
                                                     <a href="/chushichuchen/30-0-1-0-0.html" target="_blank"><img src="picture/list-hnwe.jpg"  alt="霍尼韦尔"></a>
                                                     <a href="/chushichuchen/30-0-2-0-0.html" target="_blank"><img src="picture/list-ads.jpg"  alt="爱迪士"></a>
                                                     <a href="/chushichuchen/30-0-4-0-0.html" target="_blank"><img src="picture/list-mrd.jpg"  alt="曼瑞德"></a>
                                               
                                                </dd>
                                        </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu6">
                        <a class="lv1_a" href="/zhongyangreshui/" title="中央热水" target="_blank">中央热水</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                                <dl>
                                                    <dt>品牌分类</dt>
                                                    <dd>
                                                            <a href="/zhongyangreshui/32-1-0-0-0.html" title="A.O.史密斯" target="_blank">A.O.史密斯</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-2-0-0-0.html" title="格力" target="_blank">格力</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-3-0-0-0.html" title="美的" target="_blank">美的</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-4-0-0-0.html" title="博世" target="_blank">博世</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-5-0-0-0.html" title="柯耐弗" target="_blank">柯耐弗</a>

                                                    </dd>
                                                </dl>

                                                <dl class="tjpt">
                                                    <dt>适用房型</dt>
                                                    <dd>
                                                            <a href="/zhongyangreshui/32-0-1-0-0.html" title="客餐厅" target="_blank">客餐厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-2-0-0.html" title="两房一厅" target="_blank">两房一厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-3-0-0.html" title="两房两厅" target="_blank">两房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-4-0-0.html" title="三房两厅" target="_blank">三房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-5-0-0.html" title="四房两厅" target="_blank">四房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-6-0-0.html" title="复式" target="_blank">复式</a>
                                                            <span>|</span>
                                                            <a href="/zhongyangreshui/32-0-7-0-0.html" title="别墅" target="_blank">别墅</a>
                                                            
                                                    </dd>
                                                </dl>
                                            <dl class="tjpp">
                                                <dd>
                                                  <a href="/zhongyangreshui/32-1-0-0-0.html" target="_blank"><img src="picture/list-sms.jpg" alt="A.O.史密斯"></a>
                                                  <a href="/zhongyangreshui/32-2-0-0-0.html" target="_blank"><img src="picture/list-gl.jpg"  alt="格力"></a>
						 <a href="/zhongyangreshui/32-3-0-0-0.html" target="_blank"><img src="picture/list-md.jpg"  alt="美的"></a>
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu7">
                        <a class="lv1_a" href="/shuichuli/" title="净水系统" target="_blank">净水系统</a>
                          <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>系统分类</dt>
                                            <dd>
                                                    <a href="/shuichuli/29-1-0-0-0.html" title="前置过滤器" target="_blank">前置过滤器</a>
                                                    <span>|</span>
                                                    <a href="/shuichuli/29-2-0-0-0.html" title="末端直饮机" target="_blank">末端直饮机</a>
                                                    <span>|</span>
                                                    <a href="/shuichuli/29-3-0-0-0.html" title="中央净水机" target="_blank">中央净水机</a>
                                                    <span>|</span>
                                                    <a href="/shuichuli/29-4-0-0-0.html" title="中央软水机" target="_blank">中央软水机</a>
                                                    <span>|</span>
                                                    <a href="/shuichuli/29-5-0-0-0.html" title="软净水一体机" target="_blank">软净水一体机</a>
                                                   
                                                    
                                            </dd>
                                        </dl>
                                          <dl class="tjpt">
                                                    <dt>品牌分类</dt>
                                                    <dd>
                                                            <a href="/shuichuli/29-0-1-0-0.html" title="怡口" target="_blank">怡口</a>
                                                            <span>|</span>
                                                            <a href="/shuichuli/29-0-2-0-0.html" title="开能" target="_blank">开能</a>
                                                            <span>|</span>
                                                            <a href="/shuichuli/29-0-3-0-0.html" title="3M" target="_blank">3M</a>
                                                            <span>|</span>
                                                            <a href="/shuichuli/29-0-4-0-0.html" title="水丽" target="_blank">水丽</a>
                                                            <span>|</span>
                                                            <a href="/shuichuli/29-0-5-0-0.html" title="霍尼韦尔" target="_blank">霍尼韦尔</a>
                                                            <span>|</span>
                                                            <a href="/shuichuli/29-0-6-0-0.html" title="康丽根" target="_blank">康丽根</a>
															<span>|</span>
                                                            <a href="/shuichuli/29-0-7-0-0.html" title="滨特尔" target="_blank">滨特尔</a>
                                                            
                                                    </dd>
                                                </dl>
                                            <dl class="tjpp">
                                                
                                                <dd>
                                                   <a href="/shuichuli/29-0-1-0-0.html" target="_blank"><img src="picture/list-yk.jpg" alt="怡口"></a>
                                                   <a href="/shuichuli/29-0-2-0-0.html" target="_blank"><img src="picture/list-kn.jpg" alt="开能"></a>
                                                   <a href="/shuichuli/29-0-3-0-0.html" target="_blank"><img src="picture/list-3m.jpg" alt="3M"></a>
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lv1_li menu8">
                        <a class="lv1_a" href="/zhinengkongzhi/" title="智能家居控制系统" target="_blank">智能家居</a>
                        
                        <div class="menu_sub">
                            <div class="inner cfx">
                                <div class="menu_sub_list">
                                        <dl>
                                            <dt>系统分类</dt>
                                            <dd>
                                                    <a href="/zhinengkongzhi/31-1-0-0-0.html" title="家庭安防" target="_blank">家庭安防</a>
                                                    <span>|</span>
                                                    <a href="/zhinengkongzhi/31-2-0-0-0.html" title="背景音乐" target="_blank">背景音乐</a>
                                                    <span>|</span>
                                                    <a href="/zhinengkongzhi/31-3-0-0-0.html" title="家庭影院" target="_blank">家庭影院</a>
                                                    <span>|</span>
                                                    <a href="/zhinengkongzhi/31-4-0-0-0.html" title="电动窗帘" target="_blank">电动窗帘</a>
                                                    <span>|</span>
                                                    <a href="/zhinengkongzhi/31-5-0-0-0.html" title="智能监控" target="_blank">智能监控</a>
                                                   
                                                    
                                            </dd>
                                        </dl>


                                                <dl class="tjpt">
                                                    <dt>适用房型</dt>
                                                    <dd>
                                                            <a href="/zhinengkongzhi/31-0-0-1-0.html" title="客餐厅" target="_blank">客餐厅</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-2-0.html" title="两房一厅" target="_blank">两房一厅</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-3-0.html" title="两房两厅" target="_blank">两房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-4-0.html" title="三房两厅" target="_blank">三房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-5-0.html" title="四房两厅" target="_blank">四房两厅</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-6-0.html" title="复式" target="_blank">复式</a>
                                                            <span>|</span>
                                                            <a href="/zhinengkongzhi/31-0-0-7-0.html" title="别墅" target="_blank">别墅</a>
                                                            
                                                    </dd>
                                                </dl>
												<dl class="tjpp">
                                                
                                                <dd>
                                                  <a href="/zhinengkongzhi/31-0-1-0-0.html" target="_blank"><img src="picture/list-c4.jpg" alt="Control4"></a>
                                                  <a href="/zhinengkongzhi/31-0-2-0-0.html" target="_blank"><img src="picture/list-yd.jpg" alt="悠达"></a>
                                                  <a href="/zhinengkongzhi/31-0-3-0-0.html" target="_blank"><img src="picture/list-mk.jpg" alt="M&K"></a>
                                                </dd>
                                            </dl>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
   <div class="nav_menu">
          <ul>
            <li><a href="/">首页</a></li>
            <li class="prd"><b></b><a href="/redianzixun/" target="_blank">舒适攻略</a>
               <dld class="pa subd dn" style="display: none;">
                    <dd><a href="/article/" style="background:none;" target="_blank">系统知识</a></dd>
                    <dd><a href="/zhuanlan/" style="background:none;" target="_blank">文章专栏</a></dd>
                </dld>
            </li>
            <li class="pr"><b></b><a href="/gongchenganli/" target="_blank">工程案例</a>
                <dl style="display: none;" class="pa sub dn">
                    <dd><a href="/gongchenganli/kongdiaoanli/" style="background:none;" target="_blank">中央空调</a></dd>
                    <dd><a href="/gongchenganli/dinuananli/" style="background:none;" target="_blank">地暖案例</a></dd>
                    <dd><a href="/gongchenganli/diyuanrebenganli/" style="background:none;" target="_blank">地源热泵</a></dd>
                </dl>
            </li>
            
            <li><a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank">免费设计</a><em class="hoot"></em></li>
            <li><a href="http://www.shujia365.com/zyktpcxg/" target="_blank">干货精华</a><em class="neew"></em></li>
           <li><a href="/quanguo/" target="_blank"><script type='text/javascript'> getIpPlace();</script>服务中心</a></li>
        </ul>
		
        <script type="text/javascript">
            $(function(){
               
                $('.nav_menu .pr').hover(
                        function(){
                            $('dl.sub').show();
                        },
                        function(){
                            $('dl.sub').hide();
                        }
                )
                 $('.nav_menu .prd').hover(
                        function(){
                            $('dld.subd').show();
                        },
                        function(){
                            $('dld.subd').hide();
                        }
                )

            })
        </script>
    </div>
</div>
</div>
    
        

<div class="w_new">
        <p class="lwx_search_path">
          <a href="/">首页</a>&nbsp;>&nbsp;<a href="/zhinengkongzhi/">智能控制</a>
        </p>

        <table class="lwx_srh_select">
            <tbody>
              <tr>
			  <th>类别：</th>
			  <td><div class="data_select_father">
			  <a href="/zhinengkongzhi/31-0-0-0-0.html" class="changefieldandcss"><span>全部</span></a> 
			  <a href="/zhinengkongzhi/31-1-0-0-0.html" class="fieldandcss"><span>家庭安防</span></a> 
			  <a href="/zhinengkongzhi/31-2-0-0-0.html" class="fieldandcss"><span>背景音乐</span></a> 
			  <a href="/zhinengkongzhi/31-3-0-0-0.html" class="fieldandcss"><span>家庭影院</span></a> 
			  <a href="/zhinengkongzhi/31-4-0-0-0.html" class="fieldandcss"><span>电动窗帘</span></a> 
			  <a href="/zhinengkongzhi/31-5-0-0-0.html" class="fieldandcss"><span>智能监控</span></a> 
			  </tr>
			  <tr>
			  <th>品牌：</th>
			  <td><div class="data_select_father">
			  <a href="/zhinengkongzhi/31-0-0-0-0.html" class="changefieldandcss"><span>全部</span></a> 
			  <a href="/zhinengkongzhi/31-0-1-0-0.html" class="fieldandcss"><span>Control4</span></a> 
			  <a href="/zhinengkongzhi/31-0-2-0-0.html" class="fieldandcss"><span>悠达</span></a> 
			  <a href="/zhinengkongzhi/31-0-3-0-0.html" class="fieldandcss"><span>泊声</span></a> 
			  <a href="/zhinengkongzhi/31-0-4-0-0.html" class="fieldandcss"><span>M&K</span></a> 
			  </tr>
			  <tr>
			  <th>适用房型：</th>
			  <td><div class="data_select_father">
			  <a href="/zhinengkongzhi/31-0-0-0-0.html" class="changefieldandcss"><span>全部</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-1-0.html" class="fieldandcss"><span>客餐厅</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-2-0.html" class="fieldandcss"><span>两房一厅</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-3-0.html" class="fieldandcss"><span>两房两厅</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-4-0.html" class="fieldandcss"><span>三房两厅</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-5-0.html" class="fieldandcss"><span>四房两厅</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-6-0.html" class="fieldandcss"><span>复式</span></a> 
			  <a href="/zhinengkongzhi/31-0-0-7-0.html" class="fieldandcss"><span>别墅</span></a> 
			  </tr>             

                <th>系统分类：</th>
                <td>
                  <div class="data_select_father lwx_srh_pinpai">
                     <ul class="clearfix">
                                        
						 <a href="/zhongyangkongdiao/" title="中央空调"><span>中央空调</span></a>                        
						<a href="/dinuan/" title="家庭采暖"><span>家庭采暖</span></a>   
						<a href="/zhongyangxinfeng/" title="新风系统"><span>新风系统</span></a> 
						<a href="/shuichuli/" title="中央净水"><span>中央净水</span></a>  
						<a href="/diyuanrebeng/" title="地源热泵"><span>地源热泵</span></a>      
						<a href="/zhongyangreshui/" title="中央热水"><span>中央热水</span></a>    
						<a href="/chushichuchen/" title="除湿除尘"><span>除湿除尘</span></a> 
						<a href="/zhinengkongzhi/" title="智能家居" class="changefieldandcss"><span>智能家居</span></a>  
						                
					</ul>
                  </div>
                 </td>
             </tr>
			 </tbody>
        </table>
<dl class="clearfix lwx_prd_list_content">

<dd>
             <a class="block_a" href="/zhinengkongzhi/4.html" target="_blank" title="543543543"></a>                                            
			 <div class="lwx_prd_image">
                 <img src="picture/5b5004fe9ec08b2c36842191a7b227fd.jpg" alt="543543543">
             </div>
             <div class="lwx_prd_baseinfo">
                 <p class="lwx_plist_price">
                    ￥0.00 
					<span class="lwx_acitve_tag"></span>
                    <span class="lwx_qbg_tag"></span>
                 </p>
                 <p class="lwx_plist_name">543543543</p>
                 <p class="orange_color lwx_ggyu">正品保证 运行稳定 正规发票 一对一客服贴身服务</p>
                 <p class="lwx_plist_comment">
                    <span class="lwx_search_master lwx_comment_icon"></span>
                       已有<b>10088</b>人关注
                 </p>
              </div>
            </dd>
<dd>
             <a class="block_a" href="/zhinengkongzhi/3.html" target="_blank" title="543543"></a>                                            
			 <div class="lwx_prd_image">
                 <img src="picture/5b5004fe9ec08b2c36842191a7b227fd.jpg" alt="543543">
             </div>
             <div class="lwx_prd_baseinfo">
                 <p class="lwx_plist_price">
                    ￥0.00 
					<span class="lwx_acitve_tag"></span>
                    <span class="lwx_qbg_tag"></span>
                 </p>
                 <p class="lwx_plist_name">543543</p>
                 <p class="orange_color lwx_ggyu">正品保证 运行稳定 正规发票 一对一客服贴身服务</p>
                 <p class="lwx_plist_comment">
                    <span class="lwx_search_master lwx_comment_icon"></span>
                       已有<b>10036</b>人关注
                 </p>
              </div>
            </dd>
<!--list.var3-->
<!--list.var4-->
<!--list.var5-->

</dl>
		 
        <!--商品列表 end-->

        <div class="lwx_paging_box">
            <ul class="pages_product icenter">
			
			</ul>        
	  </div>
    </div>
    <!--服务介绍链接 start-->　
    


</div>

    <script type="text/javascript">
        //左侧菜单
        $(".nav_cate").hover(function(){
            $('.sub_cate').show();
        },function(){
            $('.sub_cate').hide();
        });
        $(".lv1_li").hover(function(){
            $(this).addClass("hover")
        },function(){
            $(this).removeClass("hover")

        });
    </script>

 <div class="hxlz">
    <div class="w1190">
<!--footerService start -->
<div class="footer"> 
    <!--友情链接-->
    <div class="fri_links ov">
       <div class="cityyq">
		<strong>热门城市:</strong>
        <ul>
            <li>
                    <a href="/shanghai/" target="_blank" title="上海">上海</a>
                    <a href="/wuhu/" target="_blank" title="芜湖">芜湖</a>
                    <a href="/nanjing/" target="_blank" title="南京">南京</a>
                    <a href="/xuancheng/" target="_blank" title="宣城">宣城</a>
                    <a href="/maanshan/" target="_blank" title="马鞍山">马鞍山</a>
<a href="/hefei/" target="_blank" title="合肥">合肥</a>
<a href="/luan/" target="_blank" title="六安">六安</a>
<a href="/chaohu/" target="_blank" title="巢湖">巢湖</a>
<a href="/bengbu/" target="_blank" title="蚌埠">蚌埠</a>
<a href="/huainan/" target="_blank" title="淮南">淮南</a>
<a href="/huaibei/" target="_blank" title="淮北">淮北</a>
<a href="/tongling/" target="_blank" title="铜陵">铜陵</a>
<a href="/anqing/" target="_blank" title="安庆">安庆</a>
<a href="/huangshan/" target="_blank" title="黄山">黄山</a>
<a href="/fuyang/" target="_blank" title="阜阳">阜阳</a>
<a href="/suzhou/" target="_blank" title="宿州">宿州</a>
<a href="/chuzhou/" target="_blank" title="滁州">滁州</a>
<a href="/chizhou/" target="_blank" title="">池州</a>
<a href="/bozhou/" target="_blank" title="">亳州</a>

                    
                     
            </li>
        </ul>
	   </div>	
<div class="cityyq">
		<strong>友情链接:</strong>
        <ul>
            <li>
                  <a href="http://cz.qizuang.com/company/"target="_blank">常州装修公司排名</a>



            </li>
        </ul>
	   </div>
	   
    </div>
	<div class="lxph">
	   
	   <p class="service-phone">400-800-7491</p>
       <p>周一至周日 9：00-20：00</p>
	</div>
</div>
</div>
<!--footerService end -->
<!--footer start-->
 

</div>

<!--客服开始 -->

<!-- 代码 开始 -->

 <ul id="side-bar" class="side-pannel side-bar">
<a class="text survey" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=766299827&site=qq&menu=yes" rel="nofollow">
<s class="g-icon-survey1"></s>
<span>在线咨询</span>
</a>
  <a href="javascript:;" class="qr"><s class="g-icon-qr1"></s></s><span>咨询电话</span><i></i></a>
  
    <a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank" class="text weibo" rel="nofollow"><s class="g-icon-weibo1"></s><span>免费设计</span></a>
 
 
   <a href="javascript:;" class="gotop" style="display:none;"><s class="g-icon-top"></s> <span>回到顶部</span></a>
  
</ul> 
<!-- 代码 结束 -->


<!--客服结束-->


<div class="footer-box">
   <div class="footer-icon">
      <div class="iconMap">
	 
		<a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank" rel="nofollow"><p><img class="ic6" src="picture/blank.gif" alt="免费定制" height="50" width="60"></p><p class="icon-title">免费定制</p><p class="icon-desc">针对性定制舒适方案</p></a>
		<a href="/zhongyangkongdiao/" target="_blank"><p><img class="ic3" src="picture/blank.gif" alt="集成方案" height="50" width="60"></p><p class="icon-title">集成方案</p><p class="icon-desc">多系统集成化设计</p></a>
		<a href="/gongchenganli/" target="_blank"><p><img class="ic1" src="picture/blank.gif" alt="规范施工" height="50" width="60"></p><p class="icon-title">规范施工</p><p class="icon-desc">高标准施工规范</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic4" src="picture/blank.gif" alt="工程联保" height="50" width="60"></p><p class="icon-title">工程联保</p><p class="icon-desc">设备工程全国联保</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic2" src="picture/blank.gif" alt="持续维护" height="50" width="60"></p><p class="icon-title">持续维护</p><p class="icon-desc">维护升级持续关注</p></a>
		<a href="/gongchenganli/" target="_blank"><p><img class="ic7" src="picture/blank.gif" alt="万千工程" height="50" width="60"></p><p class="icon-title">万千工程</p><p class="icon-desc">万千工程口口相传</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic8" src="picture/blank.gif" alt="用心打造" height="50" width="60"></p><p class="icon-title">用心打造</p><p class="icon-desc">用心打造良心工程</p></a>
		</div></div></div>
		
	<div class="footer-box2">
	   <div class="footer-copy">
<a href="/redianzixun/" target="_blank" title="资讯中心">资讯中心</a> | 
<a href="/article/" target="_blank" title="资讯中心">知识中心</a> | 
<a href="/tags/" target="_blank" title="网站地图" rel="nofollow">网站地图</a> | 
<a href="/about/" target="_blank" title="关于我们" rel="nofollow">关于我们</a> | 
<a href="/lianxiwomen/" target="_blank" title="联系我们" rel="nofollow">联系我们</a> |
<a href="/quanguo/"  target="_blank" title="全国服务中心" rel="nofollow">全国服务中心</a>|
<a href="/zhaoshangjiameng/"  target="_blank" title="招商加盟" rel="nofollow">招商加盟</a>
<br><span class="yen"> Copyright©2009-2016  ShuJia365 舒家365网（www.shujia365.com）  版权所有</span>
</div>
 
</div>
</body></html>




