 <div class="hxlz">
    <div class="w1190">
<!--footerService start -->
<div class="footer"> 
    <!--友情链接-->
    <div class="fri_links ov">
       <div class="cityyq">
		<strong>热门城市:</strong>
        <ul>
            <li>
                    <a href="/shanghai/" target="_blank" title="上海">上海</a>
                    <a href="/wuhu/" target="_blank" title="芜湖">芜湖</a>
                    <a href="/nanjing/" target="_blank" title="南京">南京</a>
                    <a href="/xuancheng/" target="_blank" title="宣城">宣城</a>
                    <a href="/maanshan/" target="_blank" title="马鞍山">马鞍山</a>
<a href="/hefei/" target="_blank" title="合肥">合肥</a>
<a href="/luan/" target="_blank" title="六安">六安</a>
<a href="/chaohu/" target="_blank" title="巢湖">巢湖</a>
<a href="/bengbu/" target="_blank" title="蚌埠">蚌埠</a>
<a href="/huainan/" target="_blank" title="淮南">淮南</a>
<a href="/huaibei/" target="_blank" title="淮北">淮北</a>
<a href="/tongling/" target="_blank" title="铜陵">铜陵</a>
<a href="/anqing/" target="_blank" title="安庆">安庆</a>
<a href="/huangshan/" target="_blank" title="黄山">黄山</a>
<a href="/fuyang/" target="_blank" title="阜阳">阜阳</a>
<a href="/suzhou/" target="_blank" title="宿州">宿州</a>
<a href="/chuzhou/" target="_blank" title="滁州">滁州</a>
<a href="/chizhou/" target="_blank" title="">池州</a>
<a href="/bozhou/" target="_blank" title="">亳州</a>

                    
                     
            </li>
        </ul>
	   </div>	
<div class="cityyq">
		<strong>友情链接:</strong>
        <ul>
            <li>
                   <a href="http://www.hfktm.com/"target="_blank">合肥美的中央空调</a>
<a href="http://www.hefeigeli.com/"target="_blank">合肥格力中央空调</a>
<a href="http://www.sctnj.cn/"target="_blank">成都地暖安装</a>
<a href="http://www.cddnw.com/"target="_blank">成都地暖网</a>
<a href="http://www.dinuanw.cn/"target="_blank">南昌地暖公司</a>
<a href="http://www.quntan-gree.com/"target="_blank">格力中央空调</a>
<a href="http://www.wsk99.com/"target="_blank">广州防水厂家</a>
<a href="http://www.fssdpp.com/"target="_blank">防水十大品牌</a>
<a href="http://www.daikinsz.cn/"target="_blank">中央空调</a>
<a href="http://www.cd-hss.com/"target="_blank">成都暖通公司</a>
<a href="http://dengju.jc001.cn"target="_blank">灯具</a>
<a href="http://91xinshang.com/"target="_blank">奢侈品回收</a>
<a href="http://www.ztpingtai.com/"target="_blank">铸铁平板</a>
<a href="http://www.hongyaxuan.com/"target="_blank">中式装修</a>
<a href="http://www.jdzs.com"target="_blank">别墅装修公司</a>
<a href="http://www.lantiantun.com/"target="_blank">硅藻泥</a>
<a href="http://www.bjmijigui168.com"target="_blank">密集柜</a>
<a href="http://www.yajinsh.com/"target="_blank">电子秤</a>
<a href="http://dg.leju.com/"target="_blank">东莞房产网</a>
<a href="http://www.dlas17.com/"target="_blank">通风柜</a>



            </li>
        </ul>
	   </div>
	   
    </div>
	<div class="lxph">
	   
	   <p class="service-phone">17730316334</p>
       <p>周一至周日 9：00-20：00</p>
	</div>
</div>
</div>
<!--footerService end -->
<!--footer start-->
 

</div>

<!--客服开始 -->

<!-- 代码 开始 -->

 <ul id="side-bar" class="side-pannel side-bar">
<a class="text survey" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=766299827&site=qq&menu=yes" rel="nofollow">
<s class="g-icon-survey1"></s>
<span>在线咨询</span>
</a>
  <a href="javascript:;" class="qr"><s class="g-icon-qr1"></s></s><span>咨询电话</span><i></i></a>
  
    <a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank" class="text weibo" rel="nofollow"><s class="g-icon-weibo1"></s><span>免费设计</span></a>
 
 
   <a href="javascript:;" class="gotop" style="display:none;"><s class="g-icon-top"></s> <span>回到顶部</span></a>
  
</ul> 
<!-- 代码 结束 -->


<!--客服结束-->


<div class="footer-box">
   <div class="footer-icon">
      <div class="iconMap">
	 
		<a href="/e/DoInfo/AddInfo.php?classid=2&mid=8&ecmscheck=1" target="_blank" rel="nofollow"><p><img class="ic6" src="__PUBLIC__/picture/blank.gif" alt="免费定制" height="50" width="60"></p><p class="icon-title">免费定制</p><p class="icon-desc">针对性定制舒适方案</p></a>
		<a href="/zhongyangkongdiao/" target="_blank"><p><img class="ic3" src="__PUBLIC__/picture/blank.gif" alt="集成方案" height="50" width="60"></p><p class="icon-title">集成方案</p><p class="icon-desc">多系统集成化设计</p></a>
		<a href="/gongchenganli/" target="_blank"><p><img class="ic1" src="__PUBLIC__/picture/blank.gif" alt="规范施工" height="50" width="60"></p><p class="icon-title">规范施工</p><p class="icon-desc">高标准施工规范</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic4" src="__PUBLIC__/picture/blank.gif" alt="工程联保" height="50" width="60"></p><p class="icon-title">工程联保</p><p class="icon-desc">设备工程全国联保</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic2" src="__PUBLIC__/picture/blank.gif" alt="持续维护" height="50" width="60"></p><p class="icon-title">持续维护</p><p class="icon-desc">维护升级持续关注</p></a>
		<a href="/gongchenganli/" target="_blank"><p><img class="ic7" src="__PUBLIC__/picture/blank.gif" alt="万千工程" height="50" width="60"></p><p class="icon-title">万千工程</p><p class="icon-desc">万千工程口口相传</p></a>
		<a href="#" target="_blank" rel="nofollow"><p><img class="ic8" src="__PUBLIC__/picture/blank.gif" alt="用心打造" height="50" width="60"></p><p class="icon-title">用心打造</p><p class="icon-desc">用心打造良心工程</p></a>
		</div></div></div>
		
	<div class="footer-box2">
	   <div class="footer-copy">
<a href="/redianzixun/" target="_blank" title="资讯中心">资讯中心</a> | 
<a href="/article/" target="_blank" title="资讯中心">知识中心</a> | 
<a href="/tags/" target="_blank" title="网站地图" rel="nofollow">网站地图</a> | 
<a href="/about/" target="_blank" title="关于我们" rel="nofollow">关于我们</a> | 
<a href="/lianxiwomen/" target="_blank" title="联系我们" rel="nofollow">联系我们</a> |
<a href="/quanguo/"  target="_blank" title="全国服务中心" rel="nofollow">全国服务中心</a>|
<a href="/zhaoshangjiameng/"  target="_blank" title="招商加盟" rel="nofollow">招商加盟</a>
<br><span class="yen"> Copyright©2009-2016  ShuJia365 舒家365网（www.shujia365.com）  版权所有</span>
</div>
 
</div>

<script language="javascript" src="__PUBLIC__/js/cityPicker-1.0.0.js"></script>
<script language="javascript" src="__PUBLIC__/js/citydata.js"></script>
<script>
  $(function(){
    //原生城市-无联动
    var select = $('.city-picker-select').cityPicker({
      dataJson: cityData,
      renderMode: false,
      linkage: false
    });
    //城市下拉显示
    $('.qhcs').click(function(){
      $('.city-select').show();
    });
  })   
</script>
